.center {
    display: flex;
    justify-content: center;
    align-items: center;
   
  }


  .form{
    background-color: rgb(221, 221, 215);
    justify-content: center;
    text-align: center;
    padding: 1rem;
    margin-top: 100px;
  }
  .counter{
    background-color: darkslateblue;
    margin: 1rem;
    padding: 1rem;
  }